<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>SYP Submission</title>
    <style>
        button:hover,
        input[type="submit"]:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease;
        }

        #uploadButton {
            width: fit-content;
            padding: 0.5em 1em;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
        }

        .main-content {
            display: flex;
            flex-wrap: wrap;
            margin: auto;
            padding: 0 20px;
        }

        .info-content,
        .form-content {
            flex: 1 1 50%;
            /* ensures that each section takes half the width of the container */
            padding: 20px;
        }

        @media (max-width: 768px) {

            .info-content,
            .form-content {
                flex: 1 1 100%;
                /* stacks the content vertically on smaller screens */
            }
        }

        nav ul li a[role="button"] {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
        }
    </style>
</head>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.6">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Store Your Products Approval Form</title>
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<nav class="container-fluid">
    <ul>
        <li><strong>File Submission Portal</strong></li>
    </ul>
    <ul>
        <li><a href="#" onclick="homeView()">Home</a></li>
        <li><a href="#" onclick="aboutView()">About</a></li>
        <li><a href="#" onclick="sypView()">SYP View</a></li>
        <li><a href="#" onclick="pingKoda()">Contact Us</a></li>
    </ul>
</nav>

<body class="bg-white">
    <div class="container mx-auto p-6">
        <div class="text-center mb-4">
            <h1 class="font-bold text-2xl mb-2">Store Your Products Approval Form</h1>
        </div>

        <div class="mb-6">
            <p class="text-sm"><strong>PLEASE NOTE:</strong> SYP approval criteria HAS BEEN UPDATED*<br>
                If you have additional questions please reach out to <a href="mailto:syp@tcgplayer.com"
                    class="text-blue-600">syp@tcgplayer.com</a>.</p>
            <p class="text-xs mt-2">Rejected or unscheduled shipments are subject to refusal by our Authentication
                Center.</p>
        </div>
        <div class="flex justify-center mb-6">
            <div class="mb-4">
                <div class="grid grid-cols-3 gap-4 text-sm mb-2">
                </div>
                <h4> SUBMIT WITH CONFIDENCE!!</h4>
                <p>Our enhanced Submission Evaluator efficiently and seamlessly corrects typical data entry errors like
                    mismatched IDs and typos.
                    <br>This improvement ensures a more user-friendly experience and peace of mind, delivering swift
                    results.
                    <br>Benefit from quicker approval processes, reduced turnaround times, and the potential for
                    increased earnings.
                </p>
            </div>
            <div class="mb-4" <h2 class="font-bold text-lg mb-2">Shipment Requirements</h2>
                <table class="text-lg">
                    <thead>
                        <tr>
                            <th class="text-center font-bold px-2 py-1 border-b-2">Match %</th>
                            <th class="text-center font-bold px-2 py-1 border-b-2">Under $2.00</th>
                            <th class="text-center font-bold px-2 py-1 border-b-2">$2.00 - $3.00</th>
                            <th class="text-center font-bold px-2 py-1 border-b-2">Over $3.00</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center px-2 py-1 border-b">0% - 50%</td>
                            <td class="text-center px-2 py-1 border-b">Refused</td>
                            <td class="text-center px-2 py-1 border-b">Refused</td>
                            <td class="text-center px-2 py-1 border-b">Accepted</td>
                        </tr>
                        <tr>
                            <td class="text-center px-2 py-1 border-b">51% - 75%</td>
                            <td class="text-center px-2 py-1 border-b">Refused</td>
                            <td class="text-center px-2 py-1 border-b">Accepted</td>
                            <td class="text-center px-2 py-1 border-b">Accepted</td>
                        </tr>
                        <tr>
                            <td class="text-center px-2 py-1 border-b">76% - 100%</td>
                            <td class="text-center px-2 py-1 border-b">Refused</td>
                            <td class="text-center px-2 py-1 border-b">Accepted</td>
                            <td class="text-center px-2 py-1 border-b">Accepted</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mb-4">
                <p class="text-sm font-bold">*Be sure to select the correct upload option below if submitting both
                    types*
                </p>
            </div>

            <div class="mb-4">
                <form>
                    <div class="mb-3">
                        <label for="storeName" class="block text-sm font-bold mb-2">Store Your Products (SYP) store name
                            as it appears on TCGplayer*</label>
                        <input type="text" id="storeName" class="border p-2 w-full">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="block text-sm font-bold mb-2">Email associated with your SYP account
                            *</label>
                        <input type="email" id="email" class="border p-2 w-full">
                    </div>
                    <div class="grid grid-cols-2 gap-4 mb-3">
                        <div>
                            <label for="firstName" class="block text-sm font-bold mb-2">First name *</label>
                            <input type="text" id="firstName" class="border p-2 w-full">
                        </div>
                        <div>
                            <label for="lastName" class="block text-sm font-bold mb-2">Last name *</label>
                            <input type="text" id="lastName" class="border p-2 w-full">
                        </div>
                    </div>
                    <div class="mb-6">
                        <label for="fileUpload" class="block text-sm font-bold mb-2">Magic: the Gathering Cards - csv
                            upload
                            of your sorted and ready to ship MTG products *</label>
                        <input type="file" id="fileUpload" class="border p-2 w-full">
                        <p class="text-xs mt-1">**</p>
                    </div>
                    <div class="mb-6">
                        <label for="fileUploadPk" class="block text-sm font-bold mb-2">Pokémon Cards - csv upload of
                            your
                            sorted and ready to ship Pokémon products *</label>
                        <input type="file" id="fileUploadPk" class="border p-2 w-full">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="footer" style="position: sticky; top: 100vh; padding-left: 1%;">
            <small><a href="#">Privacy Policy</a> • <a href="#">Terms of Service</a></small>
        </footer>


    </div>
    <script type="text/javascript" src="/static/js/navbar.js"></script>
    <script type="text/javascript" src="/static/js/upload.js"></script>
</body>

</html>